@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/fondo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

input {
  padding: 8px;
}

input:focus {
  outline: 2px solid lightblue;
  border-radius: 4px;
}

input[type=number] {
  text-align: right;
  width: 100px;
}

input[type=date] {
  text-align: right;
  width: 200px;
}

details {
  padding-block: 10px;
}